---
import {marked} from "marked";
import {getCollection} from "astro:content";
import Layout from "@layouts/Layout.astro";
import {buildImageUrl} from "@lib/directus";
import {Image} from 'astro:assets';

export async function getStaticPaths() {
    const posts = await getCollection('posts');
    return posts.map(p => ({params: {slug: p.data.slug}}));
}

const { slug } = Astro.params;

const posts = await getCollection('posts');
const selected = posts.find(p => p.data.slug === slug)

const introContent = selected?.data.intro ? marked.parse(selected.data.intro) : undefined;
const content = selected?.data.content ? marked.parse(selected.data.content) : undefined;

---

<Layout>

    <div class="relative w-full h-[40vh]">
        {selected?.data.teaser &&
        <Image class="h-full w-full object-cover" src={buildImageUrl(selected?.data.teaser)} alt={selected?.data.teaser.title||'teaser-image'} inferSize width={selected?.data.teaser.width!!} height={selected?.data.teaser.height!!} />
        }
    </div>
    <!-- Blog Article -->
    <div class="container px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto">
        <div class="space-y-5 md:space-y-8">
            <div class="space-y-3">
                <h2 class="text-2xl font-bold md:text-3xl">{selected?.data.title}</h2>

                <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
                    <div class="p-4 md:p-5">
                        <article set:html={introContent}/>
                    </div>
                </div>

            </div>


            <article set:html={content}/>

        </div>
    </div>
</Layout>