---
import SectionWrapper from "../SectionWrapper.astro";
import {getCollection} from "astro:content";

const [offer] = await getCollection('offer');
---


<SectionWrapper borderBottom={true} bgSecondary>
    <div class="container mx-auto mb px-6 lg:px-8 pb-8">
        <div class="mx-auto max-w-5xl text-center">
            <h2 class="text-2xl font-bold tracking-tight sm:text-3xl">{offer.data?.individual_development_title}</h2>
        </div>
    </div>
    <dl class="col-span-2 flex-auto space-y-4 border-gray-900/10">
        <div>
            <div class="flex flex-col lg:flex-row gap-8">
                {offer.data?.individual_development_bulletpoints.map(b => {
                    return <div class="rounded-lg border bg-primary-foreground p-4 text-lg shadow">
                        <dt class="text-center font-bold text-highlight pb-3">{b.caption}</dt>
                        <dd class="tracking-tight text-muted">
                            {b.description}
                        </dd>
                    </div>
                })}
            </div>
        </div>
    </dl>
</SectionWrapper>
