---
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';
import ReferenceHeader from "@components/reference/ReferenceHeader.astro";
import ReferenceDescription from "@components/reference/ReferenceDescription.astro";
import ReferenceTeaser from "@components/reference/ReferenceTeaser.astro";
import ReferenceTechstack from "@components/reference/ReferenceTechstack.astro";
import SectionWrapper from "@components/SectionWrapper.astro";
import ReferenceAchievements from "@components/reference/ReferenceAchievements.astro";

const [reference] = await getCollection('reference');


export async function getStaticPaths() {
	const references = await getCollection('references');
	return references.map(r => ({params: {slug: r.data.slug}}));
}

const { slug } = Astro.params;

const references = await getCollection('references');
const selected = references.find(r => r.data.slug === slug)

---

<Layout>

	<ReferenceHeader image={selected?.data.teaser} title={selected?.data.title} company={selected?.data.customer.name} />

	<ReferenceDescription message={selected?.data.background} responsibilities={selected?.data.responsibilities} />

	<SectionWrapper bgSecondary>

		<div class="flex flex-col gap-12">

			<ReferenceTeaser teasers={selected?.data.screens} />

			<ReferenceTechstack title={reference.data.techstack_title} techstack={selected?.data.techstacks} />

		</div>

	</SectionWrapper>

	<ReferenceAchievements achievements={selected?.data.achievements} />

</Layout>
