---
import {marked} from "marked";
import {Image} from 'astro:assets';
import SectionWrapper from "../SectionWrapper.astro";
import {buildImageUrl} from "@lib/directus";
import {Icon} from "astro-icon/components";
import type {featureBulletpointType} from "@content/directus";
import type {directusFileType} from "@content/shared";

interface Props  {
    title?: string;
    message?: string;
    image?: directusFileType;
    bulletpoints?: featureBulletpointType[];
}

const { title, message, image, bulletpoints } = Astro.props;

const content = message ? marked.parse(message) : undefined;

---

<SectionWrapper bgSecondary>

    <div class="container">
        <div class="mb translate-y-0 transform text-center opacity-100 transition-all duration-1000 ease-out is-visible">
            <h3 class="mb-5 mx-auto my-2 font-extrabold leading-8 tracking-tight text-2xl md:text-3xl xl:text-4xl">{title}</h3>
            <span class="mx-auto max-w-7xl text-xl">
                <article set:html={content}/>
            </span>
        </div>
        {image &&
            (
                    <div class="shadow rounded-lg border-4 overflow-hidden transition-all duration-500 ease-out hover:scale-105 is-visible">
                        <Image class="w-full"  src={buildImageUrl(image)} alt={image.title ?? "image"} inferSize/>
                    </div>
            )
        }
        <div class="mt-16 is-visible">
            <div class="gap-sm grid translate-y-0 transform pb-4 opacity-100 transition-all duration-1000 ease-out sm:grid-cols-2 lg:grid-cols-3">
                {bulletpoints?.map((b) => {
                   return (
                           <div class="feature-item relative translate-y-0 transform rounded-lg border p-6 opacity-100 shadow-md transition-all duration-500 ease-out hover:scale-105 is-visible bg-card">
                               <dt class="mb-4 flex items-center">
                                   <div class="shrink-0 mr-4 flex h-12 w-12 items-center justify-center rounded-md bg-highlight text-white">
                                       <Icon class="size-7" name={`lucide:${b.icon}`}  />
                                   </div>
                                   <p class="text-lg font-medium leading-6">{b.key}</p>
                               </dt>
                               <dd class="text-base text-muted">
                                   {b.text}
                               </dd>
                           </div>
                   )
                })}
            </div>
        </div>
    </div>

</SectionWrapper>
