---
import {Image} from 'astro:assets';
import {getCollection} from "astro:content";
import {buildImageUrl} from "../lib/directus";
import SectionWrapper from "./SectionWrapper.astro";

const {title, subtitle, small} = Astro.props;
const testimonials = await getCollection('testimonial');
---

<SectionWrapper>
    {
        title && (
                    <div class="container mx-auto mb bg-background px-6 lg:px-8">
                        <div class="mx-auto max-w-5xl text-center">
                            {title && <h2 class="mt-2 font-bold tracking-tight text-2xl md:text-5xl">{title}</h2>}
                            {subtitle && <p class="mt-6 text-xl leading-8 text-muted">{subtitle}</p>}
                        </div>
                    </div>
        )
    }
    <!-- Slider -->
    <div data-hs-carousel='{
          "loadingClasses": "opacity-0",
          "slidesQty": {
            "xs": 1,
            "lg": 3
          },
          "infinite": true,
          "currentIndex": 0,
          "isCentered": false,
          "isAutoPlay": true,
          "speed": 2000,
          "isDraggable": false,
          "isInfiniteLoop": true,
          "showDots": false
        }' class="relative">
        <div class="hs-carousel w-full overflow-hidden rounded-lg">
            <div class="relative h-96 -mx-1">
                <div class="h-full hs-carousel-body absolute top-0 bottom-0 start-0 flex gap-4 items-center flex-nowrap opacity-0 cursor-grab transition-transform duration-700 hs-carousel-dragging:transition-none hs-carousel-dragging:cursor-grabbing">
                    {testimonials.map(t => {
                        return (
                                <div class="h-full flex justify-center items-center hs-carousel-slide p-2 object-contain hover:grayscale-0">
                                    <div class="h-full flex flex-col rounded-2xl border p-6 shadow-lg ring-1 ring-gray-900/5 hover:ring-highlight bg-secondary">
                                        { t.data.customer?.logo && (
                                            <div class="relative flex justify-center items-center h-26 overflow-hidden">
                                                <Image src={buildImageUrl(t.data.customer.logo)} alt={t.data.customer.name} inferSize width={t.data.customer.logo.width ?? 200} height={t.data.customer.logo.height ?? 100}/>
                                            </div>
                                        )}
                                        <figure class="mt-2 flex flex-auto flex-col justify-between">
                                            <blockquote class="p-4 pt-0 text-sm italic leading-8">
                                                <p>“{t.data.message}”</p>
                                            </blockquote>
                                            <figcaption class="mt-2 flex items-center gap-x-4">
                                                <div class="relative h-10 w-10 rounded-full overflow-hidden">
                                                    {t.data.avatar && <Image src={buildImageUrl(t.data.avatar)} alt={t.data.name} inferSize width={t.data.avatar.width ?? 200} height={t.data.avatar.height ?? 200}/>}
                                                </div>
                                                <div class="text-base">
                                                    <div class="text-sm font-semibold">{t.data.name}</div>
                                                    <div class="mt-1 text-sm text-muted">{t.data.position}</div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                        )
                    })}
                </div>
            </div>
        </div>
        <div class="hs-carousel-pagination flex justify-center absolute bottom-3 start-0 end-0 space-x-2"></div>
    </div>
    <!-- End Slider -->
</SectionWrapper>

