---
import {Image} from 'astro:assets';
import {getCollection} from "astro:content";
import {ArrowLeft, ArrowRight} from "lucide-astro"
import {buildImageUrl} from "../lib/directus";
import SectionWrapper from "./SectionWrapper.astro";



const {title, subtitle, small} = Astro.props;
const testimonials = await getCollection('testimonial');

---

<SectionWrapper>
    {
        title && (
                    <div class="container mx-auto mb bg-background px-6 lg:px-8">
                        <div class="mx-auto max-w-5xl text-center">
                            {title && <h2 class="mt-2 text-4xl font-bold tracking-tight sm:text-6xl">{title}</h2>}
                            {subtitle && <p class="mt-6 text-lg leading-8 text-muted">{subtitle}</p>}
                        </div>
                    </div>
        )
    }
    <!-- Slider -->
    <div data-hs-carousel='{
          "loadingClasses": "opacity-0",
          "slidesQty": {
            "xs": 1,
            "lg": 3
          },
          "infinite": true,
          "currentIndex": 1,
          "isCentered": true,
          "isAutoPlay": true,
          "speed": 2000,
          "isDraggable": false,
          "isInfiniteLoop": true,
          "showDots": false
        }' class="relative">
        <div class="hs-carousel w-full overflow-hidden rounded-lg">
            <div class="relative h-64 -mx-1">
                <div class="hs-carousel-body absolute top-0 bottom-0 start-0 flex items-center flex-nowrap opacity-0 cursor-grab transition-transform duration-700 hs-carousel-dragging:transition-none hs-carousel-dragging:cursor-grabbing">
                    {testimonials.map(t => {
                        return (
                                <div class="flex justify-center items-center hs-carousel-slide px-1 h-12 w-24 object-contain hover:grayscale-0 dark:brightness-0 dark:invert dark:hover:grayscale">
                                    <div class="relative mx-auto h-20 w-40">
                                        {t.data.customer?.logo && <Image src={buildImageUrl(t.data.customer.logo)} alt={t.data.customer.name} inferSize width={200} height={100}/>}
                                    </div>
                                    <figure class="mt-2 flex flex-auto flex-col justify-between">
                                        <blockquote class="p-4 pt-0 text-sm italic leading-8">
                                            <p>“{t.data.message}”</p>
                                        </blockquote>
                                        <figcaption class="mt-2 flex items-center gap-x-4">
                                            <div class="relative h-10 w-10">
                                                {t.data.avatar && <Image src={buildImageUrl(t.data.avatar)} alt={t.data.name} inferSize width={t.data.avatar.width ?? 200} height={t.data.avatar.height ?? 200}/>}
                                            </div>
                                            <div class="text-base">
                                                <div class="text-sm font-semibold">{t.data.name}</div>
                                                <div class="mt-1 text-sm text-muted">{t.data.position}</div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                        )
                    })}
                </div>
            </div>
        </div>

        <!--<button type="button"-->
        <!--        class="hs-carousel-prev hs-carousel-disabled:opacity-50 hs-carousel-disabled:pointer-events-none absolute inset-y-0 start-0 inline-flex justify-center items-center w-[46px] h-full text-gray-800 hover:bg-gray-800/10 focus:outline-none focus:bg-gray-800/10 rounded-s-lg dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10">-->
        <!--<span class="text-2xl" aria-hidden="true">-->
        <!--    <ArrowLeft class="shrink-0 size-5"/>-->
        <!--</span>-->
        <!--    <span class="sr-only">Previous</span>-->
        <!--</button>-->
        <!--<button type="button"-->
        <!--        class="hs-carousel-next hs-carousel-disabled:opacity-50 hs-carousel-disabled:pointer-events-none absolute inset-y-0 end-0 inline-flex justify-center items-center w-[46px] h-full text-gray-800 hover:bg-gray-800/10 focus:outline-none focus:bg-gray-800/10 rounded-e-lg dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10">-->
        <!--    <span class="sr-only">Next</span>-->
        <!--    <span class="text-2xl" aria-hidden="true">-->
        <!--    <ArrowRight class="shrink-0 size-5"/>-->
        <!--</span>-->
        <!--</button>-->

        <div class="hs-carousel-pagination flex justify-center absolute bottom-3 start-0 end-0 space-x-2"></div>
    </div>
    <!-- End Slider -->
</SectionWrapper>

