---
import { Image } from 'astro:assets';
import { getCollection } from "astro:content";
import { buildImageUrl } from "../lib/directus";
import SectionWrapper from "./SectionWrapper.astro";

const {title, bgSecondary} = Astro.props;

const customers = await getCollection('customer');
---

<SectionWrapper bgSecondary={bgSecondary} borderBottom={true} small>
    {
        title && (
                    <div class="container mx-auto mb bg-background px-6 lg:px-8">
                        <div class="mx-auto text-center">
                            {title && (
                                    <p class="sm:text-2xl sm:leading-normal lg:text-4xl font-bold leading-normal tracking-tight ">
                                        {title}
                                    </p>
                            )}
                        </div>
                    </div>
        )
    }
    <!-- Slider -->
    <div data-hs-carousel='{
          "loadingClasses": "opacity-0",
          "slidesQty": {
            "xs": 1,
            "lg": 3
          },
          "infinite": true,
          "currentIndex": 0,
          "isCentered": false,
          "isAutoPlay": true,
          "speed": 2000,
          "isDraggable": false,
          "isInfiniteLoop": true,
          "showDots": false
        }' class="relative">
        <div class="hs-carousel w-full overflow-hidden rounded-lg">
            <div class="relative h-64 -mx-1">
                <div class="hs-carousel-body absolute top-0 bottom-0 start-0 flex items-center flex-nowrap opacity-0 cursor-grab transition-transform duration-700 hs-carousel-dragging:transition-none hs-carousel-dragging:cursor-grabbing">
                    {customers.map(c => {
                        return (
                                <div class="flex justify-center items-center hs-carousel-slide px-1 h-12 w-24 object-contain hover:grayscale-0 dark:brightness-0 dark:invert dark:hover:grayscale">
                                    <Image src={buildImageUrl(c.data.logo, 200)} alt={c.data.name} inferSize={true} width={200} height={100} loading="eager" />
                                </div>
                        )
                    })}
                </div>
            </div>
        </div>

        <div class="hs-carousel-pagination flex justify-center absolute bottom-3 start-0 end-0 space-x-2"></div>
    </div>
    <!-- End Slider -->
</SectionWrapper>

