---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { Github, Linkedin, Xing } from 'simple-icons-astro';
import logo from '../assets/logo.svg';

const year = new Date().getFullYear()
const iconClasses = "text-gray-600 hover:text-black dark:hover:text-white duration-300 w-8 h-8"
---
<footer class="mt-auto border-t border-border bg-background text-primary py-24">
    <div class="container mx-auto flex flex-col flex-wrap gap-8 sm:flex-row lg:gap-32">
        <div class="flex flex-col gap-4"><a class="flex items-center" href="/de">
            <picture class="w-80">
                <Image
                        alt={"Rocketbase Logo"}
                        src={logo}
                        class="dark:invert"
                />
            </picture>
        </a>
            <div>made with ♥ in Hamburg © {year}</div>
        </div>
        <div class="flex gap-20">
            <div class="flex flex-col items-start gap-4">
                <div class="italic">Seiten</div>
                <nav class="flex flex-col gap-4 text-sm font-medium">
                    <a href="/referenzen">Referenzen</a>
                    <a href="/leistungen">Leistungen</a>
                </nav>
            </div>
            <div class="flex flex-col items-start gap-4">
                <div class="italic">Profile</div>
                <nav class="flex flex-col gap-4 text-sm font-medium">
                    <a target="_blank" href="https://hub.docker.com/r/rocketbaseio/">Docker-Hub</a>
                    <a target="_blank" href="https://github.com/rocketbase-io">Github</a>
                    <a target="_blank" href="https://www.linkedin.com/company/rocketbase-io/">LinkedIn</a>
                    <a target="_blank" href="https://www.npmjs.com/~rocketbase-io">npmjs.com</a>
                    <a target="_blank" href="https://www.xing.com/pages/rocketbase-iosoftwareproductionsgmbh">Xing</a>
                </nav>
            </div>
        </div>
    </div>
    <div class="container mx-auto flex flex-col justify-between gap-2 py-4 sm:flex-row lg:items-center">
        <div class="flex gap-6"><a href="/imprint">Impressum</a><a href="/privacy">Datenschutz</a></div>
        <div>
            <div class="flex gap-6 dark:invert-0">
                <a target="_blank" href="https://www.linkedin.com/company/rocketbase-io/" title="LinkedIn Profile" rel="noreferrer">
                    <Linkedin class={iconClasses} />
                </a>
                <a href="https://www.xing.com/pages/rocketbase-iosoftwareproductionsgmbh" title="Xing Profile" target="_blank" rel="noreferrer">
                    <Xing class={iconClasses} />
                </a>
                <a target="_blank" href="https://github.com/rocketbase-io" title="Github Profile" rel="noreferrer">
                    <Github class={iconClasses} />
                </a>
                <a target="_blank" href="mailto:info@rocketbase.io" rel="noreferrer">
                    <Icon name="lucide:send" class={iconClasses} />
                </a>
            </div>
        </div>
    </div>
</footer>
