---
import config from '@config/config.json';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import logo from '../assets/logo.svg';

const buttonCn = "font-medium text-gray-800 rounded-full hover:bg-gray-200 focus:outline-none focus:bg-gray-200 dark:text-neutral-200 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);

---

<div class="bg-background/80 backdrop-blur dark:bg-background/50 sticky top-0 z-10 w-full shadow">
    <header class="container flex flex-wrap sm:justify-start sm:flex-nowrap w-full text-sm py-3">
        <nav class="w-full mx-auto flex flex-wrap basis-full items-center justify-between">
            <a class="sm:order-1 flex-none text-xl font-semibold dark:text-white focus:outline-none focus:opacity-80"
               href="/" aria-label="Home">
                <Image
                        alt={"Rocketbase Logo"}
                        src={logo}
                        class="dark:invert h-10 w-auto"
                />
            </a>
            <div class="sm:order-3 flex items-center gap-x-2">
                <button type="button"
                        class="sm:hidden hs-collapse-toggle relative size-7 flex justify-center items-center gap-x-2 rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-transparent dark:border-neutral-700 dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
                        id="hs-navbar-alignment-collapse" aria-expanded="false" aria-controls="hs-navbar-alignment"
                        aria-label="Toggle navigation" data-hs-collapse="#hs-navbar-alignment">
                    <Icon name="lucide:menu" class="hs-collapse-open:hidden shrink-0 size-4"/>
                    <Icon name="lucide:x" class="hs-collapse-open:block hidden shrink-0 size-4"/>
                    <span class="sr-only">Toggle</span>
                </button>
                <div class="flex gap-x-2">
                    <button type="button"
                            class={`hs-dark-mode-active:hidden block hs-dark-mode ${buttonCn}`}
                            data-hs-theme-click-value="dark">
                        <span class="group inline-flex shrink-0 justify-center items-center size-9">
                            <Icon name="lucide:moon-star" class="shrink-0 size-4"/>
                        </span>
                    </button>
                    <button type="button"
                            class={`hs-dark-mode-active:block hidden hs-dark-mode font-medium ${buttonCn}`}
                            data-hs-theme-click-value="light">
                        <span class="group inline-flex shrink-0 justify-center items-center size-9">
                            <Icon name="lucide:sun" class="shrink-0 size-4"/>
                        </span>
                    </button>
                    <a href={config.bookMeeting} type="button"
                            class={`py-2 px-3 items-center gap-x-2 inline-flex rounded-full xl:rounded-lg xl:border hs-dark-mode ${buttonCn}`}>
                        <Icon name="lucide:calendar-fold" class="size-4"/>
                        <span class="xl:inline hidden">Buche einen Termin</span>
                    </a>
                </div>
            </div>
            <div id="hs-navbar-alignment"
                 class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:grow-0 sm:basis-auto sm:block sm:order-2 sm:rounded-full sm:shadow sm:border sm:p-2 sm:bg-background"
                 aria-labelledby="hs-navbar-alignment-collapse">
                <div class="flex flex-col gap-5 mt-5 sm:flex-row font-semibold sm:items-center sm:mt-0 pb-6 sm:pb-0">
                    <a class={`${currentPath.includes("referenzen") ? "underline-offset-4 underline text-highlight" : "text-gray-600"} font-semibold hover:text-highlight`}
                       href="/referenzen">Referenzen</a>
                    <a class={`${currentPath.includes("leistungen") ? "underline-offset-4 underline text-highlight" : "text-gray-600"} font-semibold hover:text-highlight`}
                       href="/leistungen">Leistungen</a>
                </div>
            </div>
        </nav>
    </header>
</div>
