---
import RemoteImage from "@components/RemoteImage.astro";
import SectionWrapper from "../SectionWrapper.astro";
import {marked} from "marked";

const {reviewSummary, reviewAvatar, reviewBiography } = Astro.props;
const summary = reviewSummary ? marked.parse(reviewSummary) : undefined;

---

<SectionWrapper>

    <div class="flex flex-col-reverse items-center gap-16 md:flex-row">
        <RemoteImage
                class="h-52 w-52 max-w-none rounded-full object-fill md:max-w-none"
                alt={reviewAvatar}
                asset={reviewAvatar}
                widths={[200, 400]}
        />
        <div class="speech-bubble text-lg mx-auto rounded-lg border bg-secondary p-8 text-muted shadow lg:mx-0">
            <article set:html={summary}/>
            <div class="mt-4 font-bold text-primary">
                <span>{reviewBiography}</span>
            </div>
        </div>
    </div>

</SectionWrapper>