---
import {Image} from 'astro:assets';
import SectionWrapper from "../SectionWrapper.astro";
import {marked} from "marked";
import {buildImageUrl} from "../../lib/directus";

const {reviewSummary, reviewAvatar, reviewBiography } = Astro.props;
const summary = reviewSummary ? marked.parse(reviewSummary) : undefined;

---

<SectionWrapper>

    <div class="flex flex-col-reverse items-center gap-16 md:flex-row">
        <Image
                class="h-52 w-52 max-w-none rounded-full object-fill md:max-w-none"
                alt={reviewAvatar}
                src={buildImageUrl(reviewAvatar)}
                width={200}
                height={200}
        />
        <div class="speech-bubble text-lg mx-auto rounded-lg border bg-secondary p-8 text-muted shadow lg:mx-0">
            <article set:html={summary}/>
            <div class="mt-4 font-bold text-primary">
                <span>{reviewBiography}</span>
            </div>
        </div>
    </div>

</SectionWrapper>